@import './Colors.scss';
@import './Global.scss';

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.nav-bar {
  padding: 10px;
  background-color: $nav-color;
  min-height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.search-bar {
  padding: 10px;
  background: lighten($nav-color, 5%);
  display: flex;
  border-radius: 10px;

  .srch-inp {
    background: lighten($nav-color, 5%);
    width: 300px;
    font-family: 'Livvic', sans-serif;
    font-size: 1.4rem;
    padding: 1rem;
    border: none;
    color:grey;
    &:active {
      outline: none;
    }
  }
  
  .srch-btn {
    background: lighten($nav-color, 5%);
    border: none;

    img {
      width: 48px;
    }
  }
}